__pycache__/
*.py[codz]
*.so

.env
.env.*

fvenv/
venv/
.venv/
env/
ENV/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

.idea/
.vscode/

.ipynb_checkpoints/

app/rag/fr_chroma_db/
*.sqlite3
*.bin